$accent: #F64C72;

.nav {
  height: 10vh;
  margin-bottom: 2%;
  .link-list {
    display: flex;
    align-items: center;
    height: 100%;
    .link-items {
      list-style-type: none;
      text-align: center;
      padding: 10px;
      // background-color: gray;
      margin: 10px;
      border-radius: 5px;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
