.homeContent {
  margin-top: 1%; // add on every page.
  .imageContainer {
    width: 50vw;
    margin: auto;
    display: flex;
    justify-content: center;
    img {
      border-radius: 50%;
    }
  }
  .textContainer {
    width: 50vw;
    margin: auto;
    text-align: center;
  }
}


@media screen and (max-width: 1000px) {
  .homeContent {
    .textContainer {
      width: 75vw;
    }
  }
}