<div class="homeContent">
    <div class="imageContainer">
        <img src="./../../assets/images/magnus.jpg" alt="Image of Magnus.">
    </div>
    <div class="textContainer">
        <h1>Some random header with some random text.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, nesciunt maiores! Fuga laudantium,
            doloremque optio vitae a sed iusto eaque, repudiandae earum aliquam numquam porro placeat exercitationem
            commodi minus rem.Reiciendis, placeat qui optio aspernatur culpa hic vero. Dolor repellat et eius magnam
            quia, voluptatem possimus. Earum modi doloremque dignissimos iste natus, laborum alias ipsa. Iusto corporis
            maiores odit doloribus!</p>
    </div>
</div>